.cartContainer{
    min-height:100vh;
}

h1{
    margin:40px;
}

h2{
    text-align: center;
}

.cartLink{
    color:black;
}
.cartLink:hover{
    color:#ff8b2b;
}

.cartButton, h3{
    margin:10px;
}

.cartButton{
    background-color: #ff8b2b;
    border-radius:5px;
    color:white;
    font-weight: bold;
}
.cartButtonLink:hover, .cartButton:hover{
    color:lightgrey;
}
.totalPrice{
    font-weight: bold;
    color:#ff8b2b;
}

.cartContainerBottom{
    display:flex;
    justify-content: center;
    margin-top:50px;
    padding:50px 0px 50px 0px;
    border-top: solid 2px #ff8b2b;
}

.cartContainerPrice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (max-width:767px){
    .cartContainerPrice{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}