.item{
    display:grid;
    grid-template-areas: 
    "title"
    "image"
    "price"
    "detailsButton"
    "itemCount";
    margin:20px;
    justify-items: center;
    padding:20px;
    border-radius:10px;
    background-color: white;
    width:300px;
}
.title{
    grid-area:title;
    text-align: center;
    font-weight: bold;
    justify-self: center;
    align-self: center;
    height:50px;
}
.imageContainer{
    background-color: white;
    border-radius: 10px;
    display:flex;
    align-items:center;
    justify-content: center;
    grid-area:image;
    height:170px;
    width:250px;
    overflow-y:hidden;
    overflow-x: visible;
}
.price{
    grid-area:price;
    font-weight: bold;
    font-size:large;
}
.detailsButton{
    grid-area:detailsButton;
}
.itemCount{
    grid-area:itemCount;
    justify-self: center;
}

.image{
    border-radius:10px;
    max-width:160px;
    max-height:160px;
    transition: all 0.3s;
}
.image:hover{
    transform: scale(1.2);overflow: hidden;
}
hr{
    margin-bottom:0px;
}

.addToCart{
    display: flex;
    align-items: center;
    justify-content: center;
}