.item{
    width:250px;
    display:grid;
    grid-template-areas: 
    "title"
    "image"
    "image"
    "price"
    "detailsButton"
    "itemCount";
    margin:20px;
    justify-items: center;
    padding:20px;
    border-radius:10px;
    border:solid 1px black;
    background-color: lightgrey;
}
.title{
    grid-area:title;
    height:50px;
    text-align: center;
    font-weight: bold;
}
.imageContainer{
    background-color: white;
    border:solid 1px darkgrey;
    border-radius: 10px;
    display:flex;
    align-items:center;
    justify-content: center;
    grid-area:image;
    width:170px;
    height:170px;
}
.price{
    grid-area:price;
    font-weight: bold;
}
.detailsButton{
    grid-area:detailsButton;
}
.itemCount{
    grid-area:itemCount;
}

.image{
    border-radius:10px;
    max-width:160px;
    max-height:160px;
}

hr{
    margin-bottom:0px;
}

.addToCart{
    display: flex;
    align-items: center;
    justify-content: center;
}