.box{
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.itemDetail{
    display:grid;
    width:800px;
    grid-template-areas: 
    "title title"
    "image description"
    "image description"
    "image price"
    "image buttons";
    margin:20px;
    justify-items: center;
    background-color: white;
}
.titleDetail{
    grid-area:title;
    height:50px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
.descriptionDetail{
    grid-area:description;
    font-size: medium;
    padding:30px;
}
.imageContainerDetail{
    grid-area:image;
    width:430px;
    height:430px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.priceDetail{
    grid-area:price;
    font-weight: bold;
    font-size: xx-large;
}
.buttons{
    grid-area:buttons;
    display:flex;
    flex-direction: column;
}

.imageDetail{
    border-radius:10px;
    max-width:400px;
    max-height:400px;
}

hr{
    margin-bottom:0px;
}