.box{
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.itemDetail{
    display:grid;
    width:800px;
    grid-template-areas: 
    "title title"
    "image description"
    "image description"
    "image price"
    "image buttons";
    margin:20px;
    justify-items: center;
    background-color: white;
    border-radius: 10px;
}
.titleDetail{
    grid-area:title;
    height:50px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
.descriptionDetail{
    grid-area:description;
    font-size: medium;
    padding:30px;
}
.imageContainerDetail{
    grid-area:image;
    width:430px;
    height:430px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.priceDetail{
    grid-area:price;
    font-weight: bold;
    font-size: xx-large;
    color:#ff8b2b;
}
.buttons{
    grid-area:buttons;
    display:flex;
    flex-direction: column;
}
.detailsButtonDetail{
    height:min-content;
    border:0.5px solid #ff8b2b;
    margin-left:5px;
    color: rgba(255, 139, 43,1);
    font-weight: bold;
}
.detailsButtonDetail:hover{
    color: rgba(255, 139, 43,0.5);
}

.imageDetail{
    border-radius:10px;
    max-width:400px;
    max-height:400px;
}

hr{
    margin-bottom:0px;
}

@media screen and (max-width:767px){
    .itemDetail{
        width:90vw;
        grid-template-areas: 
        "image"
        "title"
        "description"
        "price"
        "buttons";
        padding-bottom:30px;
    }
    .imageContainerDetail{
        width:70vw;
        height:70vh;
    }
    .imageDetail{
        max-width:60vw;
        max-height:60vh;
    }
}