h1{
    margin:40px;
}

.mainContact{
    min-height:100vh;
}

form{
    display:flex;
    flex-direction: column;
}

.maps{
    width:100%;
}

.submit{
    width:100px;
    height:40px;
    margin:10px 0px 10px 0px;
    background-color: #ff8b2b;
    border: solid 0.5px #ff8b2b;
    font-weight: bold;
}
.submit:hover, .submit:focus, .submit:focus-visible{
    background-color: #ff8b2b;
    border: solid 0.5px #ff8b2b;
    font-weight: bold;
    color:lightgrey;
    box-shadow: none;
}

.input{
    border:1px solid #ff8b2b;
}

.input:focus{
    box-shadow: none;
    border:1px solid #ff8b2b;
}

.contactDataContact{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width:767px){
    .contactDataContact{
        display:none;
    }
}