/* rgb(255, 139, 43) */

.clickable{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.clickable:hover{
    color:lightgrey;
}
.row{
    max-width: 100%;
}
.navBar{
    background-color: #e60012;
    padding: 0px 50px 0px 50px;
    border-bottom: solid 1px black;
}
.logo{
    width:150px;
}
header{
    display: flex;
    justify-content: flex-start;
    align-items:center ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.link{
    margin:20px;
    padding:10px;
}

.icon{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.categories{
    background-color: #E60012;
    border:none;
}
.categories:focus, .categories:hover, .categories:focus-visible{
    border:none;
    box-shadow:none;
    background-color:#E60012;
    color:white;
}
.btn-dark.dropdown-toggle{
    background-color: #E60012 !important;
}
.btn-dark.dropdown-toggle:focus{
    box-shadow:none !important;
}
.categories:hover{
    color:lightgrey;
}
.categories:active{
    background-color:#E60012;
    color:white;
}
.dropdownMenu{
    background-color:#E60012;
}
.dropdownItem:hover{
    background-color:#be0010;
    color:white;
}
.current{
    background:radial-gradient(#be0010,#E60012);
    border-radius:10px;
}