.footer{
    background-color: #e60012;
    color:white;
}

a{
    text-decoration: none;
    color:white;
}

ul{
    list-style-type: none;
    margin-bottom: 0;
}
.socialMedia{
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
li{
    margin:10px;
}
.contactData{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.textoFooter{
    margin-bottom:0px;
}