.button:focus{
    box-shadow: none;
} 
.button:hover{
    background: radial-gradient(whitesmoke, white);
}

.counter{
    display:flex;
    justify-content: space-around;
}

span{
    margin:0;
    padding:12px;
}
.addToCart{
    background-color: #ff8b2b;
    border-radius:5px;
}
.addToCartButton{
    color:white;
}
.addToCartButton:hover{
    color: lightgrey;
}
